[submodule "CocoaSoundCloudAPI"]
	path = CocoaSoundCloudAPI
	url = git://github.com/rroy1590/CocoaSoundCloudAPI.git
[submodule "OAuth2Client"]
	path = OAuth2Client
	url = git://github.com/rroy1590/OAuth2Client.git
[submodule "JSONKit"]
	path = JSONKit
	url = git://github.com/rroy1590/JSONKit.git
[submodule "OHAttributedLabel"]
	path = OHAttributedLabel
	url = git://github.com/rroy1590/OHAttributedLabel.git
[submodule "CocoaSoundCloudUI"]
	path = CocoaSoundCloudUI
	url = git://github.com/rroy1590/CocoaSoundCloudUI.git
